#include "resource.h"
#include <Windows.h>
#define APSTUDIO_READONLY_SYMBOLS

IDI_NORMAL              ICON                    "CtxMenu.ico"
IDI_SMALL               ICON                    "CtxMenu.ico"